.job-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
}

.job-card {
  max-width: 500px;
  width: 100%;
  font-size: 18px;
  padding: 10;
  margin-top: 30px;
}

.job-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align content to the left within the card */
}

.job-content-actions {
  display: flex;
  justify-content: end;
}

.filter-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px ;
  margin: 20px;
  padding: 20px;
}